<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cx.mapper.AlbumMapper">
    <resultMap id="alb" type="com.baizhi.cx.entity.Album">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="count" property="count"/>
        <result column="coverimg" property="coverimg"/>
        <result column="score" property="score"/>
        <result column="author" property="author"/>
        <result column="broadcast" property="broadcast"/>
        <result column="brief" property="brief"/>
        <result column="pubdate" property="pubdate"/>
        <collection property="children" ofType="com.baizhi.cx.entity.Chapter" column="id" select="chapterbyid">
        </collection>
    </resultMap>
<select id="chapterbyid" parameterType="String" resultType="com.baizhi.cx.entity.Chapter">
select * from  chapter where albumid=#{id}
</select>
    <select id="queryById" parameterType="String" resultType="com.baizhi.cx.entity.Album">
select * from album where id=#{id}
    </select>
    <select id="queryAllcx" resultMap="alb">
SELECT * FROM  album  limit ${(page-1)*row},#{row}
    </select>
    <insert id="addAlbum" parameterType="com.baizhi.cx.entity.Album">
insert into album(id,title,count,coverimg,score,author,broadcast,brief,pubdate)
values(#{id},#{title},0,#{coverimg},#{score},#{author},#{broadcast},#{brief},NOW())
    </insert>
    <update id="updatealbum" parameterType="String">
UPDATE album set COUNT=COUNT+1  where id=#{id}
</update>
    <select id="queryAllpoicx" resultMap="alb">
SELECT * FROM  album
    </select>
</mapper>
